<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited your information from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "First Name: " %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name: " %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email_address, "Email: " %><br />
    <%= f.email_field :email_address %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up' %>
  </div>
<% end %>
