<!DOCTYPE html>
<html>
<head>
  <title>MCommerce Worth Getting Excited About | Pi@d</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="piad_index">
  <span id="piad_top_menu" class="paid_top_menu">
  </span>
  <div id="piad_banner">
    <%= image_tag("PiADLogo.png") %>
  </div>
<%= yield %>

</body>
</html>
